name: Build notebooks
on:
  workflow_call:
  workflow_dispatch:
  schedule:
    - cron: "0 12 * * MON"
  
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      NVIDIA_API_KEY: ${{ secrets.NVIDIA_API_KEY }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.9.5"
      - name: Set up Python
        run: uv python install 3.11
      - name: Convert and execute notebooks
        run: make convert-execute-notebooks
      - name: Upload notebooks as artifacts
        uses: actions/upload-artifact@v4
        with:
          name: notebooks
          path: docs/notebooks
